main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

[data-scrollbar] {
  width: 600px;
  height: 400px;
  border: 3px solid #ccc;
  margin: 0 auto;
}

[data-scrollbar] img,
[data-scrollbar] .scroll-content {
  display: block;
  width: 1920px;
}

[data-scrollbar] ol {
  width: 600px;
}

[data-scrollbar] footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 600px;
  text-align: center;
  font-size: 2em;
  background: skyblue;
  text-align: center;
  color: #fff;
  transition: opacity .5s;
}